<button id="generateDojoApi">Generate Dojo Api</button>
<button id="generateDijitApi">Generate Dijit Api</button>
<button id="generateDohApi">Generate Doh Api</button>
<button id="generateDojoxApi">Generate Dojox Api</button>
<div id="content">

    

</div>

