@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Type Descriptor Generator</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        contextRoot = "@Url.Content("~/")";

    </script>
</head>
<body>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")

</body>
</html>